*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

:root{

    /* background color */
    --bg-primary-color: #000000;
    
    /* bg button */
    --bg-button-color: #1a1a1a;

    /* bg task color */
    --bg-task-color: #262626;

    /* text Color */
    --text-primary-color: #f4f4f4;

    /* delete button color */
    --delete-button-color: #ff4d4d;

    /* padding variables */
    --nav-padding: 1rem 2rem;
    --section-padding: 2rem 2.5rem;
    --padding-s: 0.5rem;
    --padding-m: 1rem ;
    --padding-l: 1.5rem 3rem;

    /* board-radius variables */
    --border-radius-s: 5px;
    --border-raudius-m: 10px;
    --border-radius-l: 15px;
    --border-raudius-xl: 20px;

    /* border color */
    --border-color-primary: #333333;
    --border-golder: #fce45da4;

    /* font-size variable */
    --font-size-s: 1rem;
    --font-size-m: 1.5rem;
    --font-size-l: 2rem;
    --font-size-xl: 2.5rem;
}

main{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
}

nav{
    padding: var(--nav-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--font-size-xl);
}

nav button{
    background-color: var(--bg-button-color);
    border: none;
    outline: none;
    color: var(--text-primary-color);
    padding: var(--padding-m) var(--padding-m);
    cursor: pointer;
    border-radius: var(--border-raudius-m);
    font-size: var(--font-size-m);
}

section{
    padding: var(--section-padding);
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    /* background-color: var(--bg-button-color); */
    gap: var(--padding-l)
}

section .task-column{
    display: flex;
    flex-direction: column;
    gap: var(--padding-m);
    background-color: var(--bg-button-color);
    border-radius: var(--border-raudius-m);
    border: 1px solid var(--border-golder);
    flex-grow: 1;
    padding: var(--padding-m);
}

section .task-column .heading{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: var(--font-size-m);
    
}

section .task-column .task{
    background-color: var(--bg-task-color);
    padding: var(--padding-m);
    border-radius: var(--border-radius-l);
    cursor: grab;
    display: flex;
    flex-direction: column;
    gap: var(--padding-s);
}

section .task-column .task button{
    align-self: flex-end;
    background-color: var(--delete-button-color);
    color: var(--text-primary-color);
    cursor: pointer;
    padding: var(--padding-s) var(--padding-m);
    border-radius: var(--border-radius-s);
    border: none;
    outline: none;
}